# Pima Data cleaning

In [1]:
# Import Modules Here
import pandas as pd

## Part 1: Read the Data into Jupyter

In [2]:
# Read the data into a dataframe named pima_df.
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')

## Part 2: Missing Data

In [3]:
#Question 1:  Find Columns with missing data
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [4]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
pima_missing_fixed_df = pima_df.dropna(how='any')
pima_missing_fixed_df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
# Question 3:  Print out the number of rows in the dataframe.
pima_df.shape[0]

1004

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

unknown data can cause errors when analyzing the data as a whole. It is easier and more effective to only analyze data without missing values.
To remove only rows with all missing data, I could have used "dropna(how='all')"

## Part 3: Duplicated Data

In [6]:
# Question 1: find the rows of duplicated data in the 
# pima_missing_fixed_df and print them.  
pima_missing_fixed_df[pima_missing_fixed_df.duplicated()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [7]:
# Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates()
pima_dedupped_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE

## Part 4: Mis-typed Columns/Broken Data

In [8]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
pima_df.describe()

,Pregnancies,Glucose,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
count,890.000000,988.000000,1004.000000,1004.000000,1004.000000,982.000000
mean,6.626966,99.630567,25.288845,459.386454,1.421047,85.857434
std,5.343136,58.016384,14.592717,398.288770,3.322955,37.023177
min,-100.000000,0.000000,0.000000,2.000000,-100.000000,21.000000
25%,3.000000,48.000000,13.000000,220.750000,0.722500,54.000000
50%,7.000000,102.500000,25.000000,447.000000,1.535500,85.000000
75%,10.000000,151.000000,38.000000,665.000000,2.316000,117.000000
max,13.000000,200.000000,50.000000,10000.000000,2.998000,150.000000

In [9]:
pima_df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure                object
SkinThickness                 int64
Insulin                       int64
BMI                          object
DiabetesPedigreeFunction    float64
Age                         float64
Outcome                      object
dtype: object

In [10]:
pima_df.describe(include=['O'])

       BloodPressure   BMI Outcome
count            982  1003    1004
unique           113   484       3
top               53  59.6   FALSE
freq              17     8     525

BloodPressure and BMI should both be floats or integers instead of objects. Outcome should be a boolean

In [11]:
# Question 2: Remove the rows with data errors
pima_df.value_counts('BloodPressure')

BloodPressure
53       17
84       16
27       16
26       16
82       15
         ..
75        4
67        4
10000     2
Error     2
19        1
Name: count, Length: 113, dtype: int64

In [12]:
pima_dedupped_df = pima_dedupped_df[pima_dedupped_df['BloodPressure'] != 'Error']
pima_dedupped_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,FALSE
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE

In [13]:
pima_df.value_counts('BMI')

BMI
59.6     8
7.0      7
17.4     6
15.1     6
11.3     6
        ..
16.6     1
39.8     1
39.9     1
4.4      1
Error    1
Name: count, Length: 484, dtype: int64

In [14]:
pima_dedupped_df = pima_dedupped_df[pima_dedupped_df['BMI'] != 'Error']
pima_dedupped_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,FALSE
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE

In [15]:
pima_df.value_counts('Outcome')

Outcome
FALSE    525
TRUE     478
ERROR      1
Name: count, dtype: int64

In [16]:
pima_dedupped_df = pima_dedupped_df[pima_dedupped_df['Outcome'] != 'ERROR'].copy()
pima_dedupped_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,FALSE
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE

In [17]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.
def word_to_bool(x: str):
    if x.lower() == 'false':
        return False
    if x.lower() == 'true':
        return True

In [18]:
def word_to_float(x: str) -> float:
    x = float(x)
    return x

In [19]:
pima_dedupped_df['BMI'] = pima_dedupped_df['BMI'].apply(word_to_float)
pima_dedupped_df['BloodPressure'] = pima_dedupped_df['BloodPressure'].apply(word_to_float)
pima_dedupped_df['Outcome'] = pima_dedupped_df['Outcome'].apply(word_to_bool)
pima_dedupped_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39.0,28,545,53.0,2.447,125.0,False
1,13.0,151.0,107.0,38,10000,9.2,0.507,148.0,False
2,8.0,59.0,109.0,18,739,59.1,1.769,91.0,True
4,10.0,165.0,48.0,37,737,39.4,0.729,73.0,False
5,-100.0,142.0,88.0,39,82,42.7,1.369,148.0,True
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000.0,13,412,48.7,0.267,101.0,False
996,6.0,117.0,91.0,28,212,1.0,1.969,137.0,False
997,13.0,163.0,10.0,37,457,8.0,2.400,125.0,True
998,6.0,110.0,26.0,27,590,20.8,1.185,95.0,False
1001,4.0,80.0,24.0,6,268,48.9,0.989,81.0,True

In [20]:
pima_fixed_columns_df = pima_dedupped_df.copy()
pima_fixed_columns_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39.0,28,545,53.0,2.447,125.0,False
1,13.0,151.0,107.0,38,10000,9.2,0.507,148.0,False
2,8.0,59.0,109.0,18,739,59.1,1.769,91.0,True
4,10.0,165.0,48.0,37,737,39.4,0.729,73.0,False
5,-100.0,142.0,88.0,39,82,42.7,1.369,148.0,True
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000.0,13,412,48.7,0.267,101.0,False
996,6.0,117.0,91.0,28,212,1.0,1.969,137.0,False
997,13.0,163.0,10.0,37,457,8.0,2.400,125.0,True
998,6.0,110.0,26.0,27,590,20.8,1.185,95.0,False
1001,4.0,80.0,24.0,6,268,48.9,0.989,81.0,True

In [21]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    float64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    bool
dtypes: bool(1), float64(6), int64(2)
memory usage: 59.3 KB

## Part 5: Outlier Detection and Removal

In [22]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
def is_outlier(column: pd.Series):
        Q1 = column.quantile(0.25)
        Q3 = column.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        return ~column.between(lower_bound, upper_bound)

In [23]:
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Pregnancies'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Glucose'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BloodPressure'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['SkinThickness'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Insulin'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BMI'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['DiabetesPedigreeFunction'])])
display(pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Age'])])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,-100.0,142.0,88.0,39,82,42.7,1.369,148.0,True

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,3.0,155.0,10000.0,35,748,32.6,0.098,85.0,True
995,5.0,62.0,10000.0,13,412,48.7,0.267,101.0,False

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,13.0,151.0,107.0,38,10000,9.2,0.507,148.0,False

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [24]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
outliers = is_outlier(pima_fixed_columns_df['Pregnancies']) | is_outlier(pima_fixed_columns_df['BloodPressure']) | is_outlier(pima_fixed_columns_df['Insulin'])
pima_outlier_removed_df = pima_fixed_columns_df[~outliers]

In [25]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
pima_outlier_removed_df.shape[0]

828